.certification-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.certification-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #0a0a0a;
    position: relative; /* Make this item relative for absolute positioning of the name */
}

.certification-image-container {
    position: relative; /* This allows the name to be positioned absolutely */
}

.certification-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.certification-name {
    position: absolute;
    bottom: 10px; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better visibility */
    padding: 5px;
    border-radius: 4px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition */
}

.certification-image-container:hover .certification-name {
    opacity: 1; /* Show name on hover */
}
